@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,cyrillic-ext);

body {
	background: linear-gradient(#28333F, #385E80);
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.fill {
	color:white;
	font-family: 'Open Sans', sans-serif;
}

#phone {
	height:676px;
	width:437px;
	background-repeat:no-repeat;
	background-size: 437px 676px;
	background-image:url('Phone@2x.png');	
}

#logo-wrapper {
	margin-top:40px;
	max-width:240px;
}

a#logo {
	display:inline-block;
	height:60px;
	width:72px;
	background-repeat:no-repeat;
	background-size: 72px 60px;
	background-image:url('Logo@2x.png');	
}

#logo-wrapper h1 {
	display:inline-block;
	position:relative;
	top:-14px;
	font-size:30pt;
	margin-left:20px;
}

#info {
	margin-top:20px;
	max-width:500px;
}

#info p {
	font-weight:300;
	font-size:12pt;
}

#ios {
	margin-top:20px;
	width:234px;
}

a#ios-badge {
	display:inline-block;
	height:76px;
	width:234px;
	background-repeat:no-repeat;
	background-size: 234px 76px;
	background-image:url('AppStore@2x.png');	
}

#ios-stars {
	margin-top:20px;
	height:22px;
	width:144px;
	background-repeat:no-repeat;
	background-size: 144px 22px;
	background-image:url('Stars@2x.png');	
}

#ios-rating {
	font-weight:300;
	margin-top:8px;
	font-size:10pt;
}

#contact {
	width:300px
}
 
.bar-header {
	font-weight:600;
	font-size:10pt;
}

#contact-text {
	margin-top:30px;
}

#contact-bar {
	height:32px;
	width:251px;
	background-repeat:no-repeat;
	background-size: 251px 32px;
	background-image:url('contact_bar.png');	
}

#contact-icons {
	margin:23px 0px 0px 0px;
}

.contact-icon {
	display:inline-block;
	height:60px;
	width:60px;
	background-repeat:no-repeat;
	background-size: 60px 60px;
}

#contact-fb {
	background-image:url('FB@2x.png');	
	display:inline-block;
}

#contact-twitter {
	background-image:url('Twitter@2x.png');	
	display:inline-block;
	margin-left:55px;
}

#contact-twitter:hover {
	background-image:url('TwitterHoover@2x.png');
}

#contact-mail {
	background-image:url('Mail@2x.png');	
	display:inline-block;
	margin-left:55px;
}

#copy {
	font-weight:300;
	font-size:8pt;
	margin-top:100px;
	margin-bottom:20px;
}

